<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">BlazorEventApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/register">Register</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login">Login</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/create-event">Create Event</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/event-viewer">Event Viewer</NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";
    private async Task ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        await Task.Yield(); // Ensures Blazor correctly updates UI state
    }
}
